<label class="fieldlabels">Nome: *</label> <input type="text" name="nome" placeholder="Seu nome" />
<label class="fieldlabels">Nascimento: *</label> <input type="date" name="nascimento" placeholder="Seu nascimento" />
<label class="fieldlabels">País Origem:</label> <input type="text" name="paisorigem" placeholder="País que nasceu" />
<label class="fieldlabels">Sexo:</label> <input type="text" name="sexo" placeholder="Seu sexo" />
<label class="fieldlabels">Óbito:</label> <input type="date" name="obito" placeholder="Data do Óbito" />